
import(faahKO)
import(boot)
import(Nozzle.R1)
importFrom(igraph,degree,"V<-",V,delete.vertices,vcount,ecount,plot.igraph,
           layout_in_circle,write_graph,graph_from_data_frame,cluster_fast_greedy,
           cluster_walktrap,membership,betweenness,closeness,components,
           induced_subgraph,cluster_edge_betweenness,cluster_optimal,
           cluster_leading_eigen,cluster_spinglass,cluster_label_prop,
           cluster_louvain,cluster_infomap)
importFrom(ggplot2, aes, aes_string, element_text, facet_grid,element_blank,
           facet_wrap, geom_bar, geom_errorbar, geom_histogram,element_rect,
           geom_line, geom_point, geom_text, geom_vline, ggplot,stat_ellipse,
           ggplot_build, qplot, scale_fill_hue, scale_x_continuous,geom_hline,
           scale_y_continuous, theme, theme_bw,xlab,ylab,ggtitle,geom_path,
           scale_fill_discrete,scale_fill_gradient,annotate,geom_smooth,
           xlim,scale_colour_manual,stat_function,scale_x_discrete,aes_,
           scale_y_log10,geom_density2d,scale_shape_manual,guide_legend,
           coord_cartesian,scale_shape_discrete,geom_jitter,position_jitter,
           geom_density,coord_flip,labs,expand_limits,geom_boxplot,guides,
           scale_color_manual,ylim)
importFrom(scales,log2_trans,trans_format,trans_breaks,math_format,percent)
importFrom(reshape2, melt, dcast)
importFrom(plyr, ddply, dlply, here, summarise, .)
importFrom(pcaMethods,pca,completeObs,plotPcs,prep)
importFrom(BBmisc,isDirectory)
importFrom(mixOmics,plsda,vip,splsda)
importFrom(preprocessCore,normalize.quantiles,normalize.quantiles.robust)
importFrom(vsn,vsn2,predict)
importFrom(pls,plsr,R2,mvrValstats,explvar)
importFrom(impute,impute.knn)
importFrom(missForest,missForest)
importFrom(parallel,makeCluster,stopCluster,clusterExport,detectCores,
           parLapply,parSapply,clusterEvalQ)
importFrom(doParallel,registerDoParallel)
importFrom(DiscriMiner,plsDA)
importFrom(CAMERA,xsAnnotate,groupFWHM,findIsotopes,groupCorr,findAdducts,
           getPeaklist)
importFrom(xcms,xcmsSet,group,retcor,fillPeaks,diffreport)
importFrom(VennDiagram,venn.diagram)
importFrom(ape,as.phylo,plot.phylo)
importFrom(scatterplot3d,scatterplot3d)
importFrom(pheatmap,pheatmap)
importFrom(bootstrap,crossval)
importFrom(pROC,roc,ci.auc,auc)
importFrom(caret,train,trainControl,confusionMatrix,predict.train,
           twoClassSummary,rfeControl,rfe,
           createDataPartition)
importFrom(dplyr,filter,rename,mutate,distinct,select,left_join,bind_rows,"%>%",arrange,
           group_by,n_distinct,select_,do,summarize,ungroup,contains,mutate_,
           inner_join,one_of)
importFrom(stringr,str_replace,str_detect,str_split,str_replace_all)
importFrom(RColorBrewer,brewer.pal)
importFrom(DiffCorr,comp.2.cc.fdr,generate_g)
importFrom(SSPA,pilotData,sampleSize,predictpower)
importFrom(RCurl,debugGatherer,getCurlHandle,postForm,getURL)
importFrom(lattice,levelplot)
importFrom(data.table,rbindlist)
importFrom(tidyr,gather,spread_,spread)
importFrom(readr,read_csv,read_tsv,write_tsv)
importFrom(ROCR,prediction,performance)
importFrom(randomForest,randomForest,importance)
importFrom(e1071,svm)
importFrom(coop,pcor)
importFrom(mzR,openMSfile,header)
importFrom(fpc,bhattacharyya.dist)
importFrom(ropls,opls)
importFrom(sva,ComBat)
importFrom(edgeR,DGEList,calcNormFactors,cpm)
importFrom(softImpute,softImpute,complete)
importFrom(ComplexHeatmap,HeatmapAnnotation,Heatmap,draw)
importFrom(seriation,seriate)

export(makeDirectory)
export(peakFinder)
export(normalize)
export(autoRemoveOutlier)
export(makeMetaboAnalystInput)
export(peakStat)
export(plotQCRLSC)
export(plotPCA)
export(plotPLSDA)
export(filterQCPeaks)
export(filterPeaks)
export(reSetPeaksData)
export(doQCRLSC)
export(missingValueImpute)
export(plotIntDistr)
export(plotPeakSN)
export(plotPeakNumber)
export(plotCV)
export(plotTreeMap)
export(plotQC)
export(plotHeatMap)
export(filterQCPeaksByCV)
export(plotMissValue)
export(cor.network)
export(plotNetwork)
export(plotCorHeatmap)
export(pathwayAnalysis)
export(powerAnalyst)
export(preProcess)
export(transformation)
export(permutePLSDA)
export(metaXpipe)
export(dataClean)
exportClass(metaXpara)
exportClass(plsDAPara)
exportClass(oplsDAPara)
export(hasQC)
export(myPLSDA)
export(calcVIP)
export(selectBestComponent)
export(getPeaksTable)
export(featureSelection)
export(metaboliteAnnotation)
export(plotPeakBox)
export(plotPeakSumDist)
export(removeSample)
export(createModels)
export(importDataFromQI)
export(importDataFromXCMS)
export(importDataFromMetaboAnalyst)
export(checkQCPlot)
export(checkPvaluePlot)
export(plotLoading)
export(runPLSDA)
export(runOPLSDA)
export("dir.case<-")
export("dir.ctrl<-")
export("sampleListFile<-")
export("ratioPairs<-")
export("missValueImputeMethod<-")
export("outdir<-")
export("prefix<-")
export("peaksData<-")
export("addValueNorm<-")
export("rawPeaks<-")
export("idres<-")
export("xcmsSet.method<-")
export("dir.case<-")
export("xcmsSet.ppm<-")
export("xcmsSet.peakwidth<-")
export("xcmsSet.snthresh<-")
export("xcmsSet.prefilter<-")
export("xcmsSet.mzCenterFun<-")
export("xcmsSet.integrate<-")
export("xcmsSet.mzdiff<-")
export("xcmsSet.noise<-")
export("xcmsSet.verbose.columns<-")
export("xcmsSet.polarity<-")
export("xcmsSet.profparam<-")
export("xcmsSet.nSlaves<-")
export("xcmsSet.fitgauss<-")
export("xcmsSet.sleep<-")
export("xcmsSet.fwhm<-")
export("xcmsSet.max<-")
export("xcmsSet.step<-")
export("group.bw0<-")
export("group.mzwid0<-")
export("group.bw<-")
export("group.mzwid<-")
export("group.minfrac<-")
export("group.minsamp<-")
export("group.max<-")
export("group.sleep<-")
export("retcor.method<-")
export("retcor.profStep<-")
export("retcor.plottype<-")
export("qcRlscSpan<-")
export("idres<-")
export("xcmsSetObj<-")
export("scale<-")
export("center<-")
export("t<-")
export("validation<-")
export("ncomp<-")
export("nperm<-")
export("kfold<-")
export("method<-")
export(plotROC)
export(svrNormalize)
export(plotTIC)
export(getTable)
export(plotPairs)
export(doProteinQuantificationRLB)
export(doProteinQuantificationILB)
export(plotQCs)
export(batchCorrect)
export(calcCorBetweenProteinAndRNA)
export(checkSampleList)
export(printCV)
export(plotPeakMeanDist)
